{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SoundSphere - Django Edition</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/main.js' %}"></script>

    </head>
    <body>
        <div class="ambient-glow glow-1"></div>
        <div class="ambient-glow glow-2"></div>

        <!-- Навигация -->
        <nav class="navbar">
            <div class="nav-brand">
                <svg class="logo" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <linearGradient id="djangoGrad" x1="10%" y1="0%" x2="90%" y2="100%">
                        <stop offset="0%" stop-color="#44B78B" />
                        <stop offset="45%" stop-color="#25865C" />
                        <stop offset="100%" stop-color="#092E20" />
                    </linearGradient>
                    <mask id="soundwaveMask">
                        <rect x="0" y="0" width="100" height="100" fill="white" />
                        <path d="M 14 0 V 100 M 22 0 V 100 M 30 0 V 100 M 38 0 V 100 M 46 0 V 100 M 54 0 V 100 M 62 0 V 100 M 70 0 V 100 M 78 0 V 100 M 86 0 V 100" stroke="black" stroke-width="2" />
                        <path d="M -5 50 L 10 50 L 18 50 L 26 40 L 34 65 L 42 22 L 50 80 L 58 22 L 66 65 L 74 40 L 82 50 L 90 50 L 105 50" stroke="black" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" fill="none" />
                    </mask>
                </defs>
                <circle cx="50" cy="50" r="43" fill="url(#djangoGrad)" mask="url(#soundwaveMask)" />
                </svg>
                <span class="brand-text">Sound<span class="highlight">Sphere</span></span>
            </div>
            
            <div class="nav-links">
                <a href="{% url 'home' %}">Главная</a>
                <a href="{% url 'tracks' %}">Песни</a>
                <a href="{% url 'playlist' %}" class="highlight">Плейлисты</a>
                <a href="{% url 'artists' %}" class="highlight ">Исполнители</a>
                {% comment %} <a href="{% url 'friendship' %}" class="highlight">Друзья</a> {% endcomment %}
            </div>
    
            <button class="btn btn-login">Войти</button>
        </nav>

        <!-- Основной контент -->
        <main class="main-content">
            {% block content %}
            {% endblock content %}
        </main>

        <!-- Подвал -->
        <footer class="footer">
            <svg class="logo-small" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                <circle cx="50" cy="50" r="43" fill="url(#djangoGrad)" mask="url(#soundwaveMask)" />
            </svg>
            <span>© 2026 SoundSphere (Django Edition). Чистый HTML/CSS/JS.</span>
            <a href="{% url 'about'%}">о нас</a>
        </footer>

    </body>
</html>