{% extends "base.html" %}
{% load static %}

{% block extra_js %}
  <link rel="stylesheet" href="{% static 'css/playlist.css' %}">
  <script src="{% static 'js/playlist.js' %}"></script>
{% endblock extra_js %}

{% block content %}
<section class="section-container">
  <h2 class="section-title">🔥 Популярные плейлисты</h2>
  <div id='topPlaylists' class="playlists-grid">
    
  </div>
</section>

<section class="section-container">
  <h2 class="section-title">Мои плейлисты</h2>
  <div id='userPlaylists' class="playlists-grid">
    
  </div>
</section>
{% endblock content %}